[Unit]
Description=Expand root filesystem
ConditionFirstBoot=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/growpart /dev/mmcblk0 2
ExecStart=/usr/sbin/resize2fs /dev/mmcblk0p2
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
