[Unit]
Description=WLAN GPIO
Requires=NetworkManager.service

[Service]
Type=simple
ExecStart=gpioset -msignal gpiochip0 2=1

[Install]
WantedBy=multi-user.target
