#
# General setup
#
CONFIG_LOCALVERSION="-wm8505"
# CONFIG_KERNEL_XZ is not set
CONFIG_KERNEL_LZ4=y
# CONFIG_AUDIT is not set
# CONFIG_PERF_EVENTS is not set
# CONFIG_PROFILING is not set

#
# System Type
#
# CONFIG_ARCH_MULTI_V6 is not set
CONFIG_ARCH_WM8505=y

#
# Boot options
#
CONFIG_ARM_APPENDED_DTB=y
CONFIG_ARM_ATAG_DTB_COMPAT=y
CONFIG_CMDLINE="usbcore.autosuspend=-1"
CONFIG_CMDLINE_EXTEND=y

#
# CPU Power Management
#
# CONFIG_CPU_FREQ is not set

#
# Floating point emulation
#
# CONFIG_VFP is not set

#
# Power management options
#
# CONFIG_HIBERNATION is not set

#
# Enable loadable module support
#
# CONFIG_MODULE_SIG is not set
# CONFIG_MODULE_COMPRESS is not set

#
# Memory Management options
#
# CONFIG_ZSWAP_COMPRESSOR_DEFAULT_LZO is not set
CONFIG_ZSWAP_COMPRESSOR_DEFAULT_LZ4=y

#
# Memory Technology Device (MTD) support
#
CONFIG_MTD_WMT_SFLASH=m

#
# Network device support
#
CONFIG_VIA_VELOCITY=m

#
# Input device support
#
CONFIG_SERIO_WM8505_PS2=y

#
# Serial drivers
#
# CONFIG_SERIAL_8250 is not set
CONFIG_SERIAL_VT8500=y
CONFIG_SERIAL_VT8500_CONSOLE=y

#
# I2C support
#
CONFIG_I2C_WMT=m

#
# Pin controllers
#
CONFIG_PINCTRL_WM8505=y

#
# Power supply class support
#
CONFIG_CHARGER_GPIO=m
CONFIG_BATTERY_WM8505=m

#
# Voltage and Current Regulator Support
#
CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y

#
# Graphics support
#
CONFIG_DRM_WMT=y
CONFIG_BACKLIGHT_PWM=y

#
# Sound card support
#
CONFIG_SND_SOC_WMT=m
CONFIG_SND_SOC_WM8505_AC97=m

#
# USB support
#
# CONFIG_USB_OTG is not set
# CONFIG_USB_XHCI_HCD is not set
CONFIG_USB_EHCI_HCD=m
CONFIG_USB_EHCI_HCD_PLATFORM=m
CONFIG_USB_UHCI_HCD=m
CONFIG_USB_UHCI_PLATFORM=y
# CONFIG_USB_DWC2 is not set
# CONFIG_USB_GADGET is not set

#
# MMC/SD/SDIO card support
#
CONFIG_MMC_WMT=y

#
# Real Time Clock
#
CONFIG_RTC_DRV_VT8500=m

#
# DMA Engine support
#
CONFIG_WMT_DMA=m

#
# Common Clock Framework
#
# CONFIG_COMMON_CLK_VT8500 is not set
CONFIG_COMMON_CLK_WM8505=y

#
# Pulse-Width Modulation (PWM) Support
#
CONFIG_PWM_VT8500=y

#
# File systems
#
CONFIG_EXT4_FS=y

#
# Security options
#
# CONFIG_SECURITY_APPARMOR is not set
# CONFIG_SECURITY_LOCKDOWN_LSM is not set
# CONFIG_SECURITY_LANDLOCK is not set
# CONFIG_INTEGRITY is not set

#
# Cryptographic API
#
CONFIG_CRYPTO_LZ4=y

#
# Kernel hacking
#
CONFIG_DEBUG_INFO_NONE=y
# CONFIG_KFENCE is not set
