[Unit]
Description=WMT OS first-boot setup
DefaultDependencies=no
ConditionFirstBoot=yes
Wants=boot-uboot.mount first-boot-complete.target
After=systemd-remount-fs.service boot-uboot.mount
Before=sysinit.target first-boot-complete.target console-setup.service shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
Nice=-20
ExecStart=/usr/local/sbin/wmt-firstboot
TimeoutSec=infinity
StandardOutput=null
StandardError=null

[Install]
WantedBy=sysinit.target
